<div class="container">
    <% regions.forEach(function(region) { %>
        <div class="region">
            <h2><%= region.geopolitical_zone %></h2>

            <ul class="states">
                <% region.states.forEach(function(state) { %>
                    <li><strong><%= state.name %></strong>: Capital - <%= state.capital %></li>
                <% }); %>
            </ul>

            <div class="history">
                <h3>History</h3>
                <h4>Pre-Colonial-Era</h4>
                <p><%= region.history.pre_colonial_era %></p>
                <h4>Colonial-Era</h4>
                <p><%= region.history.colonial_era %></p>
                <h4>Post Independence</h4>
                <p><%= region.history.post_independence %></p>
                <h4>Civil War</h4>
                <p><%= region.history.civil_war%></p>
                <h4>militancy and resource control agitations</h4>
                <p><%= region.history.militancy_and_resource_control_agitations %></p>
                <h4>development-challenges</h4>
                <p><%= region.history.development_challenges %></p>
                <h4>Political Influence</h4>
                <p><%= region.history.political_influence %></p>
              
            </div>
        </div>
    <% }); %>
</div>